<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All Books</h1>

    <% allBooks.forEach((oneBook)=>{ %>
        <div>
            <h2>Title: <%= oneBook.title %></h2>
            <p>Price: <%= oneBook.price %></p>
            <p>Authors:</p>
            <ul>
                <% oneBook.author.forEach((oneAuthor)=>{ %>
                    <li><%= oneAuthor.name %></li>
                <% }) %>
            </ul>
            <a href="/books/<%= oneBook._id %>">See Book Details</a>
        </div>

        <% }) %>
</body>

</html>